.page {
    height: 100%;
    padding: calc(var(--step) * 2);
    box-sizing: border-box;
    background-color: var(--light-color);
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}